*:not(header):not(header *):not(nav):not(nav *):not(footer):not(footer *) {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/*hero*/
.hero {
  display: flex;
  width: 100%;
  min-height: 500px;
  position: relative;
  margin-top: 0;
}

.hero-text {
  width: 30%;
  padding-left: 80px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  #DCF0C3;
  position: relative;
}

.hero-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
}

.hero-image {
  width: 70%;
  height: auto;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 12px 25px;
  margin-top: 20px;
  background-color: #a2cb8ba5;
  color: #254F22;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #778873;
  color: white;
  transform: translateY(-3px);
}

.hero-slide {
  display: none;
  width: 100%;
  min-height: 500px;
}

.hero-slide.active {
  display: flex;
}

.hero-slide:nth-child(2) .hero-text {
  background-color: #FAF7BB;
}

.hero-slide:nth-child(2) .btn {
  background-color: #E5CB90;
  color: #7a6040;
}

.hero-slide:nth-child(2) .btn:hover {
  background-color: #8A7650;
  color: white;
}

.prev,.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.496);
  color: #5A7863;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:hover,.next:hover {
  background-color: white;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 5%;
  transform: translateX(-50%);
  z-index: 2;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.2s;
}

.dot.active {
  background-color: #5A7863;
}

.dot:not(.active):hover {
  transform: scale(1.4);
}

/*best-seller*/
.best-seller {
  padding: 80px 80px;
  text-align: center;
}

.best-seller h2 {
  margin-bottom: 120px;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.seller-card {
  width: 220px;
  border-radius: 15px 15px 0 0;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.36);
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
  display: block;
}

.seller-card:hover {
  transform: translateY(-5px);
}

.ribbon {
  position: absolute;
  width: 150px;
  height: auto;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.seller-image {
  background-color: rgba(255, 255, 255, 0.686);
  height: 200px;
  margin-top: 80px;
}

.seller-image img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.seller-card h3 {
  font-size: 20px;
  margin-top: 20px;
  text-shadow: 0 4px 10px rgb(255, 255, 255);
}

.first {
  height: 480px;
  background-color: #769890;
}

.second {
  height: 410px;
  background-color: #9cc2b9;
}

.third {
  height: 360px;
  background-color: #b9d9d1;
}

/*banner*/
.banner {
  padding: 50px 80px;
}

.series-banner {
  display: flex;
  height: 300px;
  margin-bottom: 70px;
  text-decoration: none;
}

.banner-image {
  width: 30%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slide {
  display: none;
  width: 60%;
  height: auto;
  object-fit: contain;
}

.image-slide.active {
  display: block;
}

.banner-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.36);
}

.s-text, .p-text, .d-text, .m-text {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.s-text {
  background-image: url("img/banner_pink.png");
}

.p-text {
  background-image: url("img/banner_yellow.png");
}

.d-text {
  background-image: url("img/banner_green.png");
}

.m-text {
  background-image: url("img/banner_blue.png");
}

.banner-text h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

.banner-text p {
  font-size: 20px;
}

.s-text::after, .p-text::after, .d-text::after, .m-text::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.529);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.s-text::after {
  content: "Explore Sanrio > > >";
}

.p-text::after {
  content: "Explore Pokémon > > >";
}

.d-text::after {
  content: "Explore Demon Slayer > > >";
}

.m-text::after {
  content: "Explore Minecraft > > >";
}

.s-text:hover::after, .p-text:hover::after, .d-text:hover::after, .m-text:hover::after {
  opacity: 1;
  transform: translateY(0);
}

/*form*/
.form {
  display: flex;
  gap: 40px;
  padding: 0 80px 70px;
}

.form-image {
  width: 40%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
}

.form-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.form-image .hover {
  display: none;
}

.form:has(.form-content:hover) .form-image .normal {
  display: none;
}

.form:has(.form-content:hover) .form-image .hover {
  display: block;
}

.form-area {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 70%;
  background-color: #F5E7C6;
  padding: 40px;
  color: #645e53;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.36);
}

.form-title {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.form-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-content label {
  width: 50%;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-content input {
  height: 40px;
  width: 50%;
  background-color: #DCCCAC;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.form-content input:hover {
  transform: scale(1.05);
}

.form-content button {
  background-color: #C4A484;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(255, 254, 254, 0.14);
}

.form-content button:hover {
  background-color: #957C62;
  transform: translateY(-3px);
}

#best-seller-scroll, #banner-scroll, #form-scroll {
  scroll-margin-top: 55px;
}

@media (max-width: 768px) {
  .hero-slide {
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
    order: 1;
  }

  .hero-text {
    width: 100%;
    min-height: 250px;
    padding: 15px 30px 55px;
    order: 2;
  }

  .hero-text h2 {
    font-size: 26px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .prev, .next {
    top: auto;
    bottom: 20px;
  }

  .dots {
    bottom: 50px;
    left: 50%;
  }
}