:root {
  --peach: #FFBE91;       /* 柔和桃色 */
  --apricot: #FFDDB0;     /* 杏色 */
  --cream: #FFFCE1;       /* 奶油白 */
  --sky-blue: #CFEBFF;    /* 天空蓝 */
  --coral: #FFB6A6;       /* 珊瑚粉 */
  --sand: #FFEBD3;        /* 浅沙色 */
  --mint-green: #9BCEC1;  /* 薄荷绿 */
  --ocean-blue: #67A2C5;  /* 海洋蓝 */
  --khaki: #DCCCAC;       /* 卡其色 */
  --ivory: #FFF8EC;       /* 象牙白 */
}

/*hero*/
.hero {
  display: flex;
  width: 100%;
  min-height: 500px;
}

.hero-text {
  width: 30%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  #ffe29489;
}

.hero-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
}

.hero-image {
  width: 70%;
  height: 600px;
  background-color: #333;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 12px 25px;
  margin-top: 20px;
  background-color: #e0af70;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #D97A2B;
  transform: translateY(-3px);
}

/*best-seller*/
.best-seller {
  padding: 80px 80px;
  text-align: center;
}

.best-seller h2 {
  margin-bottom: 120px;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.seller-card {
  width: 220px;
  border-radius: 15px 15px 0 0;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.36);
  transition: 0.3s;
}

.seller-card:hover {
  transform: translateY(-5px);
}

.ribbon {
  position: absolute;
  width: 150px;
  height: auto;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.seller-image {
  background-color: gainsboro;
  height: 200px;
  margin-top: 80px;
}

.seller-image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.seller-card h3 {
  font-size: 18px;
  margin-top: 20px;
}

.first {
  height: 440px;
  background-color: #769890;
  color: black;
}

.second {
  height: 370px;
  background-color: #9cc2b9;
  color: black;
}

.third {
  height: 320px;
  background-color: #b9d9d1;
}

/*banner*/
.banner {
  padding: 50px 80px;
}

.series-banner {
  display: flex;
  height: 300px;
  margin-bottom: 40px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.36);
}

.banner-image {
  width: 30%;
  background-color: #333;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 20px;
}

.s-text {
  background-color: #FFB6A6;
}

.p-text {
  background-color: #FFF19B;
}

.d-text {
  background-color: #BCD9A2;
}

.w-text {
  background-color: #ACBAC4;
}

.banner-text h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

.banner-text p {
  font-size: 18px;
}

/*form*/
.form {
  display: flex;
  gap: 40px;
  padding: 50px 80px;
}

.form-image {
  width: 40%;
  min-height: 500px;
  background-color: #444;
}

.form-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form-area {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 70%;
  background-color: #F5E7C6;
  padding: 40px;
  color: #645e53;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.36);
}

.form-title {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.form-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-content label {
  width: 50%;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-content input {
  height: 40px;
  width: 50%;
  background-color: #DCCCAC;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.form-content button {
  background-color: #C4A484;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(255, 254, 254, 0.14);
}

.form-content button:hover {
  background-color: #957C62;
  transform: translateY(-3px);
}