:root {
  --peach: #FFBE91;       /* 柔和桃色 */
  --apricot: #FFDDB0;     /* 杏色 */
  --cream: #FFFCE1;       /* 奶油白 */
  --sky-blue: #CFEBFF;    /* 天空蓝 */
  --coral: #FFB6A6;       /* 珊瑚粉 */
  --sand: #FFEBD3;        /* 浅沙色 */
  --mint-green: #9BCEC1;  /* 薄荷绿 */
  --ocean-blue: #67A2C5;  /* 海洋蓝 */
  --khaki: #DCCCAC;       /* 卡其色 */
  --ivory: #FFF8EC;       /* 象牙白 */
}
* { margin: 0; padding: 0; }

body::-webkit-scrollbar { display: none; }
body { background-color: var(--ivory); }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #8A5F41;
  height: 8rem;
  border: 4px #996F51;
  border-style: hidden hidden solid hidden;
}
.header-img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-size: 24px;
  color: var(--ivory);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  padding: 10px 20px;
  background-color: #A77F60;
  border: 5px var(--ivory);
  border-style: hidden hidden solid hidden;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-links {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color:white;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.nav-icons {
  margin-left: auto;
  display: flex;
  gap: 9px;
}

.nav-icons img {
  width: 100px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.nav-icons #active, .nav-icons img:hover {
  filter: grayscale(0%);
}

main {
  margin: 5vh 0;
}

footer {
  background-color: #8A5F41;
  display: grid;
  grid-template-columns: 25% 40% 35%;
  z-index: 10;
}

.footer {
  padding-top: 20px;
  padding-left: 2rem;
}
.footer h3 {
  margin-bottom: 1rem;
}
.footer p, .footer a {
  text-decoration: none;
  color: black;
}
.footer p {
  margin-top: 1rem;
}

.footer.left {
  padding-left: 5rem;
}

.footer.left img{
  width:190px;
  height:235px;
}

.footer-img {
  width: 200px;
  height: 200px;
}

.social-item, .contact-item {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  max-width: 200px;
}
.contact-item img, .social-item img { 
  margin-right: 8px;
  vertical-align: middle;
}

.footer.center {
  border: black 3px;
  border-style: hidden dotted hidden dotted;
}
.contact-item {
  padding: 5px 20px;
}

.social-item {
  padding: 10px 20px;
}
.contact-item img { width: 32px;}
.social-item img { width: 24px; }
.contact-item:hover, .social-item:hover { transform: scale(1.05); }